@{
    ViewData["Title"] = "Gathao.web";
}

<script src="js/swiper.min.js"></script>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <h2>Updates（1/3）</h2>
            <img src="~/img/index_swipers/kiritan_wireframe.png" alt="">
            <p><a href="" tabindex="-1">東北きりたんの3Dモデル</a>を作成しました</p>
        </div>
        <div class="swiper-slide">
            <h2>Updates（2/3）</h2>
            <img src="~/img/index_swipers/illust191.png" alt="">
            <p><a href="" tabindex="-1">イラストページ</a>を更新しました</p>
        </div>
        <div class="swiper-slide">
            <h2>Updates（3/3）</h2>
            <img src="~/img/index_swipers/yukari_homerun.png" alt="">
            <p><a href="" tabindex="-1">ゆかりさんのホームラントライアル</a>というゲームを公開しました</p>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="row">
    <div class="col">
        <div class="card-content text-white">
            <div class="card-body">
                <h3>About</h3>
                <p>がさおのウェブサイトです</p>
                <ul>
                    <li>Do not use my works without my permission.</li>
                    <li>イラスト、素材等の無断転勤はご遠慮ください</li>
                </ul>

                <p>開設日 2021/04/11</p>
            </div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    });
</script>