@model GathaoWeb.NetCore.Models.IllustListItem

@{
    ViewData["Title"] = "Gathao.web";
}

<!-- 写真ポップアップ -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

<script>
    lightbox.option({
        'resizeDuration': 0,
        'imageFadeDuration': 0,
        'wrapAround': true
    })
</script>

<div class="container margin-top15">

    <div class="row">
        <div class="col">
            <h1>Illust</h1>
            <p>つれづれ</p>
        </div>
    </div>

    @foreach (var illustItem in (List<IllustListItem>)ViewData["IllustItems"])
    {
        <article class="illust-list-item">
            <figure>
                <a data-lightbox="illusts" href="@illustItem.ImageFilePath">
                    <img src="@illustItem.ImageFilePath" />
                </a>
            </figure>
            <div class="illut-item-footer">
                ジャンル：
                <ul>
                    @foreach (var tag in @illustItem.Tags)
                    {
                        <li>@tag</li>
                    }
                </ul>
            </div>
        </article>
    }

</div>