
@{
    ViewData["Title"] = "Suzumari";
}

<div class="container margin-top15">
    <div class="row">
        <div class="col">
            <h1>スズとマリの冒険</h1>
            <div class="margin-bottom30">
                <p class="multi-lines">コミティア129とコミックマーケット97で頒布したゲームです</p>
                <p class="multi-lines">ジャンル：アクションパズル</p>
                <p class="multi-lines">※動画は体験版の物です</p>
            </div>

            <div class="row">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jcqb0L-6WKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="border-line margin-top30"></div>

            <div class="row">
                <h5>ゲームプレイ</h5>
                <p class="text-indent1">Boothで販売中です（Windowsのみ・無料体験版あり）</p>
                <h3 class="game-play-link">
                    <a href="https://gathao.booth.pm/items/1768450">スズとマリの冒険 ～the ghost of friend～（Booth）</a>
                </h3>

            </div>

            <div class="border-line margin-top30"></div>

            <div class="row">
                <h5>スクリーンショット</h5>

                <div class="col col-6 col-sm-4 margin-top15">
                    <a class="card card-content" href="~/img/game/suzumari/susumari1ss_001.png" data-lightbox="suzumari-ss">
                        <img class="card card-content" src="~/img/game/suzumari/susumari1ss_001.png">
                    </a>
                </div>

                <div class="col col-6 col-sm-4 margin-top15">
                    <a class="card card-content" href="~/img/game/suzumari/susumari1ss_002.png" data-lightbox="suzumari-ss">
                        <img class="card card-content" src="~/img/game/suzumari/susumari1ss_002.png">
                    </a>
                </div>

                <div class="col col-6 col-sm-4 margin-top15">
                    <a class="card card-content" href="~/img/game/suzumari/susumari1ss_003.png" data-lightbox="suzumari-ss">
                        <img class="card card-content" src="~/img/game/suzumari/susumari1ss_003.png">
                    </a>
                </div>

                <div class="col col-6 col-sm-4 margin-top15">
                    <a class="card card-content" href="~/img/game/suzumari/susumari1ss_004.png" data-lightbox="suzumari-ss">
                        <img class="card card-content" src="~/img/game/suzumari/susumari1ss_004.png">
                    </a>
                </div>

                <div class="col col-6 col-sm-4 margin-top15">
                    <a class="card card-content" href="~/img/game/suzumari/tutorial001.jpg" data-lightbox="suzumari-ss">
                        <img class="card card-content" src="~/img/game/suzumari/tutorial001.jpg">
                    </a>
                </div>

                <div class="col col-6 col-sm-4 margin-top15">
                    <a class="card card-content" href="~/img/game/suzumari/tutorial002.jpg" data-lightbox="suzumari-ss">
                        <img class="card card-content" src="~/img/game/suzumari/tutorial002.jpg">
                    </a>
                </div>
            </div>

            <div class="border-line margin-top30"></div>

        </div>
    </div>
</div>